* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 225);
}

.header {
    background-color:#e21a1a;
    padding:10px;
    text-align:center;
}

.header a, .content a {
    text-decoration: none;
    padding: 20px;
    font-family: Sans-serif;
    font-size: 22px;
    margin: 5px;
    color: white;
    
}

.iteams {
    background-color: inherit;
    padding: 20px;
}
.container {
    padding:10px;
    text-align:center;
    background-image: url('images/backgroud.jpg');
    border-bottom-right-radius: 60px;
}

.content {
    background-color: inherit;
    padding: 10px;
}

.content p {
    margin: 50px;
}
/*All headings (1 % 2)*/
h1, h2 {
    font-family: sans-serif;
}

input {
    height: 50px;
    width: 450px;
    border-radius: 50px;
    font-size: 18px;
    text-align: center;
    border: none;
    font-family: sans-serif;
}

.Container-three {
        background-color: inherit;
        margin:auto 20%;
        max-height: fit-content ;
        display: grid;
        grid-template-columns: 1fr; 
    }
.Container-three p {
    font-family: sans-serif;
    font-size: 20px;
}

.cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        gap: 20px;
        margin: 2.5% 0;
    }
    
.card {
        height: 550px;
        max-height: fit-content;
        border-radius: 25px;
        background-color: white;
        box-shadow: 3px 3px 3px rgb(211, 205, 205);
        cursor: pointer;
    }

.card:hover {
        transform: scale(1.03);
        transition: 0.5s;
        box-shadow: 3px 3px 3px  #9b4e4e;
    }

.picture {
        height: 400px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

.cards .card .picture img {
        height: 400px;
        width: 100%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

.context {
        height: 100px;
        padding: 20px;
        font-family: Segoe UI;
        font-size: 25px;
        font-weight: bold; 
    }

.timer{
        padding: 15px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        font-family: Segoe UI;
        font-size: 15px;
        font-weight: bold;
        color:#e21a1a;
    }

.Container-four {
        background-color: white;
        margin: 0;
        height: fit-content;
        border-bottom-right-radius: 50px ;
    }

.communication {
        text-align: center;
        margin: 0 auto;
        width: 50%;
        text-align: center;
        height: fit-content; 
    }

.footer {
        text-align: center;
        margin: auto 20%;
        text-align: center;
        height: fit-content; 
    }

footer {
        background-color: #e21a1a; /*main container*/
    }

    .menu {
        float: left;
        width: 40%;
        text-align: center;
      }
      
.menu a {
        padding: 5px;
        margin-top: 7px;
        font-size: 24px;
        display: block;
        width: 100%;
        color: white;
        text-decoration: none;
      }

.social-logos {
          padding: 20px;
      }

button {
          padding: 20px;
          width: 10%;
          border-radius: 50PX;
          border: none;
          background-color: #e21a1a60;
          color: white;
      }

button:hover {
        background-color: #e21a1a98;
        transform: scale(1.1);
        transition: 0.5s;
      }

.fa-twitter, .fa-linkedin, .fa-pinterest, .fa-facebook {
        background: #cb2027;
        color: white;
        padding: 20px;
        margin: 10px;
        border-radius: 50%;
        font-size: 40px;
        text-decoration: none ;
      }

.fa-twitter:hover, .fa-linkedin:hover, .fa-pinterest:hover, .fa-facebook:hover {
        transform: scale(1.2);
        transition: 0.5s;
}

/*For mobile phones and devices*/
@media only screen and (max-width: 100px) {
    .header {
      height: 150px;
    }
}

@media only screen and (max-width: 450px) {
    .cards {
        text-align: center;
        gap: 10px;
        margin: 2.5% 0; 
    }
}

@media only screen and (max-width: 1000px) {
    input {
        height: 20px;
        width: 150px;
    }
    .container {
        text-align:center;
        height: fit-content;
    }

    .header {
        height: fit-content;
      }
      .iteams {
        margin-top: -30px;
    }

    .content {
        padding: 5px;
    }

    .content p {
        margin: 10px;
    }

    .Container-three {
        margin:auto;
        max-height: fit-content ;
        display: grid;
        grid-template-columns: 1fr; 
    }

    .communication {
        width: 100%;  
    }

    .menu {
        width: 100%;
      }
    }


@media only screen and (max-width: 750px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 10px;
        margin: 2.5% 0;
    }

    .card {
        height: 550px;
        max-height: fit-content;
        border-radius: 25px;
        margin: 10px;
    }
}