* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color:#e21a1a;
    padding:10px;
    text-align:center;
}

.header a, .content a {
    text-decoration: none;
    padding: 20px;
    font-family: Sans-serif;
    font-size: 22px;
    margin: 5px;
    color: white;
    
}

.iteams {
    background-color: inherit;
    padding: 20px;
}
.container {
    padding:10px;
    text-align:center;
    background-image: url('images/backgroud.jpg');
    background-size: cover;
}

.content {
    background-color: inherit;
    padding: 10px;
}

.content p {
    margin: 50px;
}

input {
    height: 50px;
    width: 450px;
    border-radius: 50px;
    font-size: 18px;
    text-align: center;
    border: none;
    font-family: sans-serif;
}

.Container-three {

        margin:auto 20%;
        max-height: fit-content ;
        display: grid;
        grid-template-columns: 1fr; 
    }
.Container-three p {
    font-family: sans-serif;
    font-size: 20px;
}

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        gap: 20px;
        margin: 2.5% 0;
        
    }
    
    .card {
        background-color: blueviolet;
        height: 550px;
        max-height: fit-content;
        border-radius: 25px;
    }

    .picture {
        background-color: blue;
        height: 400px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .cards .card .picture img {
        height: 400px;
        width: 100%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .context {
        background-color: aquamarine;
        height: 100px;
        padding: 20px;
        font-family: sans-serif;
        font-size: 25px;
        font-weight: bold;
    }
    .timer{
        background-color: #e21a1a;
    }

    .Container-four {
        background-color: blue;
        margin: 0;
        height: fit-content;
        border-bottom-right-radius: 50px ;
    }

    .communication {
        text-align: center;
        background-color: rgb(25, 51, 51);
        margin: 0 auto;
        width: 50%;
        text-align: center;
        height: fit-content; 
    }

    .footer {
        text-align: center;
        background-color: red;
        margin: auto 20%;
        text-align: center;
        height: fit-content; 
    }
 




    .menu {
        float: left;
        width: 20%;
        text-align: center;
      }
      
      .menu a {
        background-color: #e5e5e5;
        padding: 8px;
        margin-top: 7px;
        display: block;
        width: 100%;
        color: black;
      }
      
      .main {
        float: left;
        width: 60%;
        padding: 0 20px;
      }
      
      .right {
        background-color: #e5e5e5;
        float: left;
        width: 20%;
        padding: 15px;
        margin-top: 7px;
        text-align: center;
      }
      
@media only screen and (max-width: 100px) {
    /* For mobile phones: */
    .header {
      height: 150px;
    }
}

@media only screen and (max-width: 450px) {

    .cards {
        text-align: center;
        gap: 10px;
        margin: 2.5% 0;
        
    }

}

@media only screen and (max-width: 880px) {
    /* For mobile phones: */
    input {
        height: 20px;
        width: 150px;
    }
    .container {
        text-align:center;
        height: fit-content;
    }

    .header {
        height: fit-content;
      }
      .iteams {
        margin-top: -30px;
    }

    .content {
        padding: 5px;
    }

    .content p {
        margin: 10px;
    }

    .Container-three {
        margin:auto;
        max-height: fit-content ;
        display: grid;
        grid-template-columns: 1fr; 
    }

    .communication {
        width: 100%;
        
    }

    .menu, .main, .right {
        width: 100%;
      }
    }


@media only screen and (max-width: 750px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 10px;
        margin: 2.5% 0;
    }

    .card {
        background-color: blueviolet;
        height: 550px;
        max-height: fit-content;
        border-radius: 25px;
        margin: 10px;
    }
}